<footer> 
    
    <div class="footer-left">
    </div>

    <div class="footer-center">
        <a href="#">&copy; Tous droits réservés NomDuSite</a>
    </div>

    <div class="footer-right">
        <a href="{{ path('termesConditions') }}" target="_blank">CGU</a>
        <a href="{{ path('politiqueDeConf') }}" target="_blank">Politique de conf</a>
        <a href="{{ path('mentionsLegales') }}" target="_blank">Mentions légales</a>
    </div>
    
</footer>
